<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main site-main--content","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main site-main--content">
	<!-- wp:heading {"level":1} -->
	<h1 class="wp-block-heading">Page not found</h1>
	<!-- /wp:heading -->

	<!-- wp:paragraph -->
	<p>The page you are looking for does not exist or has moved.</p>
	<!-- /wp:paragraph -->

	<!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search","buttonText":"Search"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
